<%- include('../includes/header.ejs') %>
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>How It Work</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">how it work</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- end of page header -->
<section class="how-it-work-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="how-it-work-img">
                    <img src="asset/img/how-it-work-1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="how-it-work-content">
                    <h2>Step One</h2>
                    <h4>Fill in an application form on our website</h4>
                   <p>Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours. Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-work-section how-it-work-backgrond section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="how-it-work-content">
                    <h2>Step Two</h2>
                    <h4>Fill in an application form on our website</h4>
                   <p>Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours. Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="how-it-work-img">
                    <img src="asset/img/how-it-work.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-work-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="how-it-work-img">
                    <img src="asset/img/how-it-work-3.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="how-it-work-content">
                    <h2>Step Three</h2>
                    <h4>Fill in an application form on our website</h4>
                    <p>Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours. Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="how-it-work-section how-it-work-backgrond section-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div class="how-it-work-content">
                    <h2>Step Four</h2>
                    <h4>Fill in an application form on our website</h4>
                    <p>Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours. Make a request on our website and wait for response to e-mail within 15-30 minutes from the time of the request during business hours.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="how-it-work-img">
                    <img src="asset/img/how-it-work-4.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../includes/footer.ejs') %>