<%- include('../includes/header.ejs') %>


<div class="row justify-content-center">
    <div class="col-lg-6 container3">
      <div class="container p-5"></div>
      <h3 class="text-center"><%=`Your payment of NGN ${pay.amount/100} with reference ID ${pay.reference} was successful!!!!`%> </h3>  
    </div>
  </div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/menumaker.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/active.js"></script>
